/* Main style */

html,body{
    background: #ffffff;  
    padding: 0px;
    margin: 0px;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    font-weight:400;
    text-align: center;
    -webkit-font-smoothing: antialiased;
}
#container {
    display: table;
    width: 100%;
    height: 100%;
}
#studentbanner {
    //display: table-row;
    border: solid 1px #000;
    height: 100px;
    width: auto;
    background: #C0504D;
}

#calculator {
    display: table-row;
    height: 100%;
    width: auto;
}

.desmosRed {
    color: #C0504D;
}
.desmosBlue {
    color: #4F81BD;
}
.desmosGreen {
    color: #9BBB59;
}
.desmosPurple {
    color: #8064A2;
}
.desmosOrange {
    color: #F79646;
}
.desmosBlack {
    color: #000000;
}
